MONGO_URI=mongodb+srv://<pseudo>:<password>@hackr-api.j4imy.mongodb.net/HackR?retryWrites=true&w=majority&appName=HackR-API
PORT=3000
JWT_SECRET=
HUNTER_API_KEY=
SECURITYTRAILS_API_KEY=
PEOPLEDATALABS_API_KEY=
MAILTRAP_TOKEN=
GMAIL_USER=
GMAIL_PASSWORD=
SERPAPI_KEY=

# For creation of default admin
ADMIN_FIRSTNAME=Admin
ADMIN_EMAIL=admin@example.com
ADMIN_PWD=adminpassword